<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-primary">
                <div class="row">
                    <div class="col-6 text-white">
                         Employee Portal
                    </div>
                    <div class="col-6 text-right">
                        
                    </div>
                </div>
                 
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Sr No</th>
                            <th>Name</th>
                            <th>Contact No</th>
                            <th>Email</th>
                            <th>Alt Contact No</th>
                            <th>City</th>
                        </tr>
                    </thead>
                </table>

            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-header bg-primary">
                <div class="row">
                    <div class="col-6 text-white">
                        New Employee 
                    </div>
                    <div class="col-6 text-right">
                        
                    </div>
                </div>
                 
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>
</div>

<div class="row">
    
</div>
