<nav class="navbar bg-light ">

    <div class="container-fluid justify-content-center ">

      <ul class="nav">

        <li class="nav-item ">
          <a class="nav-link"  routerLink="dashboard">Home</a>
        </li>

        <li class="nav-item ">
          <a class="nav-link" routerLink="employee">Employee</a>
        </li>

        <li class="nav-item ">
          <a class="nav-link" routerLink="attendance">Attendance</a>
        </li>

        <li class="nav-item ">
          <a class="nav-link" routerLink="advance">Advance</a>
        </li>

        <li class="nav-item ">
          <a class="nav-link" routerLink="leaves">Leaves</a>
        </li>

        <li class="nav-item ">
          <a class="nav-link" routerLink="salary">Salary</a>
        </li>

      </ul>

    </div>
  </nav>
  
  <div class="container-fluid mt-3">
    <router-outlet></router-outlet>
  </div>